
html{
background-color: Green;

}

.wrapper {
height: auto; 
display: grid;
margin: 50px;
grid-template-rows: 100px 50px 500px 5%;
grid-template-columns: 1fr 1fr 2fr;
grid-gap: 20px;
padding-top: 30px; 
padding-left: 30px;
padding-right: 30px;
}

.box_1{
background-color: white;
padding-left: 15px;
grid-column: 1/4;
grid-row: 1;
}

.nav{
background-color: #ff6161;
grid-column: 1/4;
grid-row: 2;
font-family: Arial;
font-size: 16px;
font-weight: bold;
}

.nav a{
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}

.dropdown{
float: left;
overflow: hidden;
}

.dropdown .dropbtn{
font-size: 16px;
border: none;
outline: none;
color: white; 
background-color: inherit;
font-family: inherit;
font-wieght: inherit;
margin: 0;
}

.dropdown-content{
display: none;
position: absolute;
background-color: ff6161;
min-width: 160px;
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
background color: ff6161;
text-decoration: none; 
display: block;
text-align: left;
}
.dropdown:hover .dropdown-content{
display: block;
}

.imgbox_3{
background-color: white; /*Comment - this image box sits behind .Box_3*/
grid-column: 1/3;
grid-row: 3;
}

.box_3{
background-color: white;
font-size: 3em; /*Comment - enlarged text that sits on top of the smiley face image*/
grid-column: 1/3;
grid-row: 3;

}

.box_4{
background-color: white;
grid-column: 3/4;
grid-row: 3;
}

.box_5 {
background-color: white;
grid-column: 1/4;
grid-row: 4;
}

.box_6 {
grid-column: 1/4;
grid-row: 5;
}